// 主体颜色
$bgcolor: #fff;
$gap: 1px;
$w: 100px;
$h: 60px;
$box-bgcolor: #393d49;
html,body {
    height: 100%;
}
body {
   background-color: $bgcolor;
   font-size: 24px;
   color: #333;    
}
.flex {
   font-size: 0;
   &>* {
       display: inline-block;
       vertical-align: top;
       font-size: 24px;
   }

   &-left {
       text-align: left;
   }

   &-center {
       text-align: center;
   }

   &-middle {
       &>* {
           vertical-align: middle;
       }
       &::before {
           content: "";
           display: inline-block;
           height: 100%;
           vertical-align: middle;
       }
   }

   &-right {
       text-align: right;
   }

   &-justify {
       text-align: justify;
       &::after {
           content: "";
           display: inline-block;
           width: 100%;
       }
   }

   &-space {
       margin: 0 -$gap/2;
       &>* {
           margin: 0 $gap/2;
       }    
   }

   &-list-2>* {
       width: 50%;
   }

   &-list-3>* {
       width: 33.33%;
   }

   &-list-4>* {
       width: 25%;
   }

   &-list-5>* {
       width: 20%;
   }

   &-list-6>* {
       width: 16.66%;
   }

   &-list-space {
       margin: -$gap/2;
       &>* {
           box-sizing: border-box;
           border: solid $gap/2 $bgcolor;
       }    
   }

   &-list-padding {
       &>* {
           box-sizing: border-box;
           padding: 0 30px;
       }
   }
}